html {
  box-sizing: content-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.main-panel > .content {
  margin-top: 50px;
  padding: 10px 10px;
  min-height: calc(99vh - 110px);
}

.content {
  padding: 30px 15px 0px 15px;
}

.footer .copyright {
  padding: 0px 0;
}

.footer {
  display: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: auto;
  max-width: 100%;
  height: auto;
}

.card-body {
  display: inline-block;
  width: 100%;
}

.dark-edition .card .card-header-info .card-icon,
.dark-edition .card .card-header-info .card-text,
.dark-edition
  .card
  .card-header-info:not(.card-header-icon):not(.card-header-text),
.dark-edition .card.bg-info,
.dark-edition .card.card-rotate.bg-info .front,
.dark-edition .card.card-rotate.bg-info .back {
  background: linear-gradient(60deg, #1c4489, #1c4489);
}

.card .card-header-info .card-icon,
.card .card-header-info:not(.card-header-icon):not(.card-header-text),
.card .card-header-info .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(101, 109, 110, 0.4);
}

.dark-edition .sidebar[data-color="azure"] li.active > a {
  background: linear-gradient(60deg, #1c4489, #1c4489);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(101, 109, 110, 0.4);
}

.dark-edition .btn.btn-ligth {
  color: #fff;
  background-color: #1c4489;
  border-color: #1c4489;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(101, 109, 110, 0.4);
}

.form-control,
.is-focused .form-control {
  background-image: linear-gradient(
      to top,
      #a9a9aa 2px,
      rgba(156, 39, 176, 0) 2px
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.dark-edition .form-control,
.is-focused .dark-edition .form-control {
  background-image: linear-gradient(
      to top,
      #d2d2d2 2px,
      rgba(156, 39, 176, 0) 2px
    ),
    linear-gradient(
      to top,
      rgba(180, 180, 180, 0.1) 1px,
      rgba(180, 180, 180, 0) 1px
    );
}

.form-control,
.is-focused .form-control {
  background-image: linear-gradient(
      to top,
      #d2d2d2 2px,
      rgba(156, 39, 176, 0) 2px
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.form-control,
.is-focused .form-control {
  background-image: linear-gradient(
      to top,
      #d2d2d2 2px,
      rgba(156, 39, 176, 0) 2px
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.dark-edition [class^="bmd-label"],
.dark-edition [class*=" bmd-label"] {
  color: #d2d2d2;
}

.dark-edition .is-focused [class^="bmd-label"],
.dark-edition .is-focused [class*=" bmd-label"] {
  color: #d2d2d2;
}

.centered-log {
  width: 300px;
}

.card .card-body .form-group .centered-log {
  display: flex;
  justify-content: center;
  margin: 8px 0 0;
}

.dark-edition .card .card-header-info .card-icon,
.dark-edition .card .card-header-info .card-text,
.dark-edition
  .card
  .card-header-info:not(.card-header-icon):not(.card-header-text),
.dark-edition .card.bg-info,
.dark-edition .card.card-rotate.bg-info .front,
.dark-edition .card.card-rotate.bg-info .back {
  background: linear-gradient(60deg, #1c4489, #d2d2d2);
}

.min-card-log {
  min-width: 600px;
}

#log {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 400px;
  height: 200px;
  max-width: 100%;
}

#centered-log-div {
  display: flex;
  justify-content: center;
}

#centered-log-div-button {
  display: flex;
  align-content: center;
  justify-content: center;
}

#login-button {
  width: 300px;
}

#selectInput {
  color: #8a8f9d;
}

.dark-edition .form-control {
  color: #8a8f9d;
}
