html {
  box-sizing: content-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.content {
  padding: 30px 15px 0px 15px;
}

.footer {
  display: flexbox;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
